@model ToKhaiYTe.Models.MDFViewModel
    <link href="~/css/reponsitoryTable.css" rel="stylesheet" />

<h3>@ViewBag.status</h3>
<div class="container m-5">
    
    <form asp-action="Index">
        <div class="row">
            <div class="col-4">
                <div class="form-group">
                    <label asp-for="GateId"></label> @* <em>(*)</em>
                    <input asp-for="GateId" class="form-control" />*@
                    <em class="text-danger">(*)</em>
                    <select id="Gate" class="form-control" asp-for="GateId">
                    </select>
                    <span asp-validation-for="GateId" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label asp-for="Fullname" class="control-label"></label><em class="text-danger">(*)</em>
                    <input asp-for="Fullname" class="form-control text-uppercase" />
                    <span asp-validation-for="Fullname" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-4">
                <div class="form-group">
                    <label asp-for="DoB" class="control-label"></label><em class="text-danger">(*)</em>
                    <select asp-for="DoB" class="form-control">
                        @for (int i = 1900; i <= 2020; i++)
                        {
                            <option value=@i> @i </option>
                        }
                    </select>
                    <span asp-validation-for="DoB" class="text-danger"></span>
                </div>
            </div>
            <div class="col-4">
                <div class="form-group">
                    <label asp-for="Gender" class="control-label"></label> <em class="text-danger">(*)</em>
                    @*
                    <input asp-for="Gender" class="form-control" />*@
                    <select id="Gender" asp-for="Gender" class="form-control"></select>
                    <span asp-validation-for="Gender" class="text-danger"></span>
                </div>
            </div>
            <div class="col-4">
                <div class="form-group">
                    <label asp-for="National" class="control-label"></label><em class="text-danger">(*)</em> @*
                    <input asp-for="National" class="form-control" />*@
                    <select asp-for="National" class="form-control National">
                    </select>
                    <span asp-validation-for="National" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label asp-for="CMND" class="control-label"></label><em class="text-danger">(*)</em>
                    <input asp-for="CMND" class="form-control" />
                    <span asp-validation-for="CMND" class="text-danger"></span>
                </div>
            </div>

        </div>






        <hr />
        <div>
            <div class="row">
                <div class="col-2">
                    <label>Thông tin đi lại </label><em class="text-danger">(*)</em>
                </div>
                <div class="col-2">
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="AirPlane" /> @Html.DisplayNameFor(model => model.AirPlane)
                        </label>
                    </div>
                </div>
                <div class="col-2">
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="Ships" /> @Html.DisplayNameFor(model => model.Ships)
                        </label>
                    </div>
                </div>
                <div class="col-2">
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="Car" /> @Html.DisplayNameFor(model => model.Car)
                        </label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <label asp-for="AnotherVerhicle" class="control-label"></label>
                        <textarea asp-for="AnotherVerhicle" class="form-control" rows="2" cols="100"></textarea>
                        <span asp-validation-for="AnotherVerhicle" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label asp-for="TransportStationNumber" class="control-label"></label>
                        <input asp-for="TransportStationNumber" class="form-control" />
                        <span asp-validation-for="TransportStationNumber" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label asp-for="SeatNumber" class="control-label"></label>
                        <input asp-for="SeatNumber" class="form-control" />
                        <span asp-validation-for="SeatNumber" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label asp-for="DepartureDate" class="control-label"></label><em class="text-danger">(*)</em>
                        <input asp-for="DepartureDate" class="form-control" />
                        <span asp-validation-for="DepartureDate" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label asp-for="EntryDate" class="control-label"></label><em class="text-danger">(*)</em>
                        <input asp-for="EntryDate" class="form-control" />
                        <span asp-validation-for="EntryDate" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <label class="control-label"><b>Địa điểm khởi hành</b> </label>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label asp-for="DepartureCountry" class="control-label"></label><em class="text-danger">(*)</em>
                        <select id="DepartureCountry" class="form-control National" asp-for="DepartureCountry">
                            <option disabled selected>-Chọn-</option>
                        </select>
                        
                        <span asp-validation-for="DepartureCountry" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group" >
                        <label asp-for="DepartureProvince" class="control-label"></label><em class="text-danger">(*)</em>
                        <select id="DepartureProvinceSelect" class="form-control " asp-for="DepartureProvince">
                            <option disabled selected>-Chọn-</option>
                        </select>
                        <input asp-for="DepartureProvince" class="form-control" id="DepartureProvinceInput" style="display:none" />

                        <span asp-validation-for="DepartureProvince" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <label class="control-label"> Địa điểm đến</label>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label asp-for="DestinyLocationCountry" class="control-label"></label><em class="text-danger">(*)</em>
                        <select class="form-control National" asp-for="DestinyLocationCountry" id="DestinyLocationCountry">
                            <option disabled selected>-Chọn-</option>
                        </select>
                        
                        <span asp-validation-for="DestinyLocationCountry" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label asp-for="DestinyLocationProvince" class="control-label"></label><em class="text-danger">(*)</em>
                        <select id="DestinyLocationProvinceSelect" class="form-control" asp-for="DestinyLocationProvince">
                            <option disabled selected>-Chọn-</option>
                        </select>
                        <input asp-for="DestinyLocationProvince" class="form-control" style="display:none" id="DestinyLocationProvinceInput"/>
                        
                        
                        <span asp-validation-for="DestinyLocationProvince" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>




        <div>
            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <label asp-for="ListCountryhasGoneThrough" class="control-label"></label>
                        <input asp-for="ListCountryhasGoneThrough" class="form-control" />
                        <span asp-validation-for="ListCountryhasGoneThrough" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>





        <div>
            <div class="row">
                <div class="col-12">
                    <label><b>Địa chỉ liên lạc tại Việt Nam</b></label>
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <div class="form-group">
                        <label asp-for="CurrentAddressProvince" class="control-label"></label><em class="text-danger">(*)</em>
                        <select id="vnProvince" class="form-control" asp-for="CurrentAddressProvince">
                            <option value="" selected disabled>-Chọn-</option>
                        </select>
                        
                        <span asp-validation-for="CurrentAddressProvince" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <label asp-for="CurrentAddressDistrict" class="control-label"></label><em class="text-danger">(*)</em>
                        <select id="CurrentAddressDistrict" class="form-control" asp-for="CurrentAddressDistrict">
                           
                        </select>
                        <span asp-validation-for="CurrentAddressDistrict" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <label asp-for="CurrentAddressWard" class="control-label"></label><em class="text-danger">(*)</em>
                        <select id="CurrentAddressWard" class="form-control" asp-for="CurrentAddressWard">
                           
                        </select>
                        <span asp-validation-for="CurrentAddressWard" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <label asp-for="CurrentAddressStreet" class="control-label"></label><em class="text-danger">(*)</em>
                        <input asp-for="CurrentAddressStreet" class="form-control" />
                        <span asp-validation-for="CurrentAddressStreet" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <label><sub>Số điện thoại bạn sẽ sử dụng tại Việt Nam (Là số Roaming hoặc số Việt Nam)</sub></label>
                </div>

            </div>
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label asp-for="PhoneNumber" class="control-label"></label><em class="text-danger">(*)</em>
                        <input asp-for="PhoneNumber" class="form-control" />
                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>





        <div>
            <div class="row">
                <div class="col-12">
                    <label><b>Trong vòng 21 ngày (tính đến thời điểm làm thủ tục xuất cảnh, nhập cảnh, quá cảnh) Anh/Chị có thấy xuất hiện dấu hiệu nào sau đây không?</b></label>
                </div>
            </div>
            
            <div>
                <div class="tableChoiceData ">
                    <div class="cols-left">
                        <table class="table table-bordered" style="width:500px">
                            <thead>
                                <tr>
                                    <th>Triệu chứng </th>
                                    <th width="70">Có</th>
                                    <th width="70">Không</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <div class="form-group form-check">
                                            <label class="form-check-label">
                                                @Html.DisplayNameFor(model => model.Fever)
                                            </label><em class="text-danger">(*)</em>
                                        </div>
                                    </td>
                                    <td>
                                        <input type="radio" asp-for="Fever" value="true" />
                                    </td>
                                    <td>
                                        <input type="radio" asp-for="Fever" value="false" />
                                    </td>

                                </tr>

                                <tr>
                                    <td>
                                        <div class="form-group form-check">
                                            <label class="form-check-label">
                                                @Html.DisplayNameFor(model => model.Cough)
                                            </label><em class="text-danger">(*)</em>
                                        </div>
                                    </td>
                                    <td>
                                        <input type="radio" asp-for="Cough" value="true" />
                                    </td>
                                    <td>
                                        <input type="radio" asp-for="Cough" value="false" />
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="form-group form-check">
                                            <label class="form-check-label">
                                                @Html.DisplayNameFor(model => model.DifficultOfBreathing)
                                            </label><em class="text-danger">(*)</em>
                                        </div>
                                    </td>
                                    <td>
                                        <input type="radio" asp-for="DifficultOfBreathing" value="true" />
                                    </td>
                                    <td>
                                        <input type="radio" asp-for="DifficultOfBreathing" value="false" />
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="form-group form-check">
                                            <label class="form-check-label">
                                                @Html.DisplayNameFor(model => model.SoreThroat)
                                            </label><em class="text-danger">(*)</em>
                                        </div>
                                    </td>
                                    <td>
                                        <input type="radio" asp-for="SoreThroat" value="true" />
                                    </td>
                                    <td>
                                        <input type="radio" asp-for="SoreThroat" value="false" />
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="cols-right">
                        <table class="table table-bordered" style="width:500px">
                            <thead id="hiddenPartTable">
                                <tr>
                                    <th>Triệu chứng </th>
                                    <th width="70">Có</th>
                                    <th width="70">Không</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <div class="form-group form-check">
                                            <label class="form-check-label">
                                                @Html.DisplayNameFor(model => model.Vomiting)
                                            </label><em class="text-danger">(*)</em>
                                        </div>
                                    </td>
                                    <td>
                                        <input type="radio" asp-for="Vomiting" value="true" />
                                    </td>
                                    <td>
                                        <input type="radio" asp-for="Vomiting" value="false" />
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="form-group form-check">
                                            <label class="form-check-label">
                                                @Html.DisplayNameFor(model => model.Diarrhea)
                                            </label><em class="text-danger">(*)</em>
                                        </div>
                                    </td>
                                    <td>
                                        <input type="radio" asp-for="Diarrhea" value="true" />
                                    </td>
                                    <td>
                                        <input type="radio" asp-for="Diarrhea" value="false" />
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="form-group form-check">
                                            <label class="form-check-label">
                                                @Html.DisplayNameFor(model => model.SkinHaemorrhage)
                                            </label><em class="text-danger">(*)</em>
                                        </div>
                                    </td>
                                    <td>
                                        <input type="radio" asp-for="SkinHaemorrhage" value="true" />
                                    </td>
                                    <td>
                                        <input type="radio" asp-for="SkinHaemorrhage" value="false" />
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="form-group form-check">
                                            <label class="form-check-label">
                                                @Html.DisplayNameFor(model => model.Rash)
                                            </label><em class="text-danger">(*)</em>
                                        </div>
                                    </td>
                                    <td>
                                        <input type="radio" asp-for="Rash" value="true" />
                                    </td>
                                    <td>
                                        <input type="radio" asp-for="Rash" value="false" />
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                    </div>

                </div>
                <span asp-validation-for="Fever" class="text-danger"></span>
                <span asp-validation-for="Cough" class="text-danger"></span>
                <span asp-validation-for="DifficultOfBreathing" class="text-danger"></span>
                <span asp-validation-for="SoreThroat" class="text-danger"></span>
                <span asp-validation-for="Vomiting" class="text-danger"></span>
                <span asp-validation-for="Diarrhea" class="text-danger"></span>
                <span asp-validation-for="SkinHaemorrhage" class="text-danger"></span>
                <span asp-validation-for="Rash" class="text-danger"></span>
            </div>
        </div>





        <div>
            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <label asp-for="UsedVaccineList" class="control-label"></label>
                        <input asp-for="UsedVaccineList" class="form-control" />
                        <span asp-validation-for="UsedVaccineList" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>







        <div class="row">
            <div class="col-12">
                <label><b>Lịch sử phơi nhiễm: Trong vòng 21 ngày qua, Anh/Chị có</b></label><em class="text-danger">(*)</em>
            </div>
        </div>

        <div class="row">
            <table class=" table table-responsive">
                <thead>
                    <tr>
                        <td class="col-4"></td>
                        <td class="col-1">Có</td>
                        <td class="col-1">Không</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <div class="form-group form-check">
                                <label class="form-check-label">
                                    @Html.DisplayNameFor(model => model.ContactToAnimal)
                                </label><em class="text-danger">(*)</em>
                            </div>
                        </td>
                        <td>
                            <input type="radio" asp-for="ContactToAnimal" value="true" />
                        </td>
                        <td>
                            <input type="radio" asp-for="ContactToAnimal" value="false" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="form-group form-check">
                                <label class="form-check-label">
                                    @Html.DisplayNameFor(model => model.ContactWithSickPeople)
                                </label><em class="text-danger">(*)</em>
                            </div>
                        </td>
                        <td>
                            <input type="radio" asp-for="ContactWithSickPeople" value="true" />
                        </td>
                        <td>
                            <input type="radio" asp-for="ContactWithSickPeople" value="false" />
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="d-flex justify-content-center"><button class="btn btn-info " type="submit">GỬI TỜ KHAI</button></div>
    </form>
</div>

<footer>
    <div class="d-flex flex-row-reverse bg-primary">
        <p class="text-right text-white">Phần dành cho cán bộ quản lý</p>
    </div>
    <div class="d-flex flex-row-reverse bg-primary">
        @Html.ActionLink("Login", "Login", "Account", null, new { @class = " text-white " })
    </div>
</footer>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/Index.JS"></script>
@await Html.PartialAsync("_ValidationScriptsPartial") ;














